
.service
{
    margin-top: 20px;
    padding-bottom: 40px;
}
.service .service-item
{
    flex: 0 0 33.33%;
    margin: 0px auto 25px;
}

.service .service-item .service-item-inner
{
    background-color: var(--bg-black-100);
    
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3S ease;
   
}
.service .service-item .service-item-inner:hover
{
    box-shadow:  0 0 20px rgba(48, 46, 77, 0.15);
    
    cursor: pointer;
    transform: scale(1.09);
    transition-duration: 1.7s;
}
.service .service-item .service-item-inner .icon 
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin:  0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon
{
    background: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #ffffff;
}
.service .service-item .service-item-inner h4
{
    font-size: 22px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

@media (max-width:800px) {
    .service .service-item
    {
        flex: 0 0 50%;
        
    }
}
@media (max-width:600px) {
    .service .service-item
    {
        flex: 0 0 95%;
        margin: 0px auto 22px;
    }
}
@media (max-width:450px) {
    .service .service-item
    {
        flex: 0 0 100%;
    }
}